In [ ]:
# medhansh gupta 25070123074
# exp 3 : study of tuple in python

In [1]:
tpl=(2,True,"med")
print(tpl)

(2, True, 'med')

In [3]:
tpl2=("apple","banana","orange")
print(tpl2[1])
print(tpl2[-2])

banana
banana

In [5]:
tpq=("apple",2,2.5,True,"med")
print(tpq[1:4])
print(tpq[:4])
print(tpq[1:])

(2, 2.5, True)
('apple', 2, 2.5, True)
(2, 2.5, True, 'med')

In [7]:
tpl3=("apple","banana","orange") #cannot interchange the elements in tuple
tpl3[1]="kiwi"
print(tpl3)

TypeError: 'tuple' object does not support item assignment

In [11]:
tpl5=(10,)*5
print(tpl5)
list=["symbiosis",]*5
print(list)
tpl6=(10)*5
print(tpl6)

(10, 10, 10, 10, 10)
['symbiosis', 'symbiosis', 'symbiosis', 'symbiosis', 'symbiosis']
50

In [15]:
tpl7=("apple","banana","orange")
print("before: ",id(tpl7))
tpl8=("kiwi",)
tpl7+=tpl8
print(tpl7)
print("after: ",id(tpl7))

before:  139970800878464
('apple', 'banana', 'orange', 'kiwi')
after:  139970801039408

In [16]:
tpl7=["apple","banana","orange"] #list used the same memory location
print("before: ",id(tpl7))
tpl8=["kiwi",]
tpl7+=tpl8
print(tpl7)
print("after: ",id(tpl7))

before:  139970800918272
['apple', 'banana', 'orange', 'kiwi']
after:  139970800918272

In [20]:
# marks of 5 students using tuple
marks=(90,82,66,76,33)
print("maximum marks: ",max(marks))
print("minimum marks: ",min(marks))
print("total number of students: ",len(marks))
print("sum of marks: ",sum(marks))
print("average marks: ",sum(marks)/len(marks))

print("sorted marks: ",sorted(marks))

maximum marks:  90
minimum marks:  33
total number of students:  5
sum of marks:  347
average marks:  69.4
sorted marks:  [33, 66, 76, 82, 90]

In [21]:
# student result
result=("maths",82,"A")
subject, marks, grade = result
print("subject: ",subject)
print("marks: ",marks)
print("grade: ",grade)
if marks>=75:
  print("distinction")

subject:  maths
marks:  82
grade:  A
distinction

In [26]:
attendance = ("p","a","p","p","a","p")
print("no. of days present: ",attendance.count("p"))
print("no. of days absent: ",attendance.count("a"))
if attendance.count("a")>=1:
  print("was absent at least once")

no. of days present:  4
no. of days absent:  2
was absent at least once